:root {
  --main-text-color: #434455;
  --dark: #2e2f42;
  --slate: #434455;
  --cloud: #f4f4fd;
  --iris: #4d5ae5;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.button {
  cursor: pointer;
  color: #4d5ae5;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.button:visited {
  color: #404bbf;
}
.logo {
  color: var(--iris);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-studio {
  color: var(--dark);
  margin-right: 76px;
}
.footer {
  background-color: var(--dark);
}
.list-first {
  color: var(--dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-first:hover {
  color: #404bbf;
}
.list-first:focus {
  color: #404bbf;
}
.list-first:visited {
}
.address {
  font-style: normal;
}

.logo-studio-footer {
  color: #f4f4fd;
}
.contact {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact:hover {
  color: #404bbf;
}
.contact:focus {
  color: #404bbf;
}
.list-second {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  background-color: var(--cloud);
  border: none;
  cursor: pointer;
}
.list-second:hover {
  color: #ffffff;
}
.list-second:focus {
  color: #ffffff;
}
.list-second:hover {
  background-color: #404bbf;
}
.list-second:focus {
  background-color: #404bbf;
}
.section-main {
  background-color: var(--dark);
  color: #ffffff;
}
.paragraph {
  line-height: 1.5;
  color: var(--slate);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  box-sizing: content-box;
}
.head-first-tag {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 188px;
}
.button-order-service {
  background-color: var(--iris);
  color: white;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  word-wrap: break-word;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  margin-left: 450px;
  margin-bottom: 188px;
}
.button-order-service:hover {
  background-color: #404bbf;
}
.button-order-service:focus {
  background-color: #404bbf;
}
.head-three-tag {
  color: var(--dark);
  font-size: 20px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  word-wrap: break-word;
}
.head-two-tag {
  color: var(--dark);
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 40px;
  letter-spacing: 0.72px;
  word-wrap: break-word;
}
.h2-tag-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.section {
  background-color: #f4f4fd;
}

.header {
  color: var(--dark);
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  text-transform: capitalize;
  margin-top: 120px;
  margin-bottom: 72px;
}
.team-list {
  background-color: #ffffff;
}
.head-three-tag {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  word-wrap: break-word;
  color: var(--dark);
}

.paragraph-footer {
  line-height: 1.5;
  color: var(--cloud);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  word-wrap: break-word;
}
.headers-portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.menu-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  padding-bottom: 24px;
  padding-top: 24px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-strategy {
  display: flex;
  gap: 24px;
}
.list-images {
  display: flex;
  gap: 24px;
}
.list-team {
  display: flex;
  gap: 24px;
}
.paragraph-strategy {
}
.address-list {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-cointainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 24px;
  height: 72px;
}
img {
  display: block;
}
